<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HuskyTerm</title>
</head>
<body>
    <h1>Husky Terminal v0.1</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint alias ratione tenetur fugit quae quo! Porro natus temporibus, tempora sequi debitis distinctio in suscipit hic fuga quas similique, quia, eaque culpa. Ipsam quasi blanditiis amet fuga, reprehenderit pariatur corrupti at quia dolorem odio, quaerat, porro magni obcaecati accusamus provident earum!
    </p>
</body>
</html>